@media only screen and (min-width: 1284px) {
  .left-panel {
    width: 275px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1283px) {
  .left-panel {
    width: 88px !important;
  }

  .left-panel nav a, .left-panel nav div {
    -ms-flex-align: center !important;
    -webkit-align-items: center !important;
    -webkit-box-align: center !important;
    align-items: center !important;
  }

  .left-panel nav a .name, .left-panel nav div .name {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {
  /* CSS cho điện thoại */
}
