body {
  margin: 0px !important;
}

body:has(.modal-overlay) {
  overflow: hidden;
}

#modal-root {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}

#modal-root .modal-overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  width: 100%;
}

.flex-column {
  -ms-flex-align: stretch;
  -ms-flex-direction: column;
  -ms-flex-negative: 0;
  -ms-flex-preferred-size: auto;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-basis: auto;
  -webkit-flex-direction: column;
  -webkit-flex-shrink: 0;
  align-items: stretch;
  border: 0 solid black;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-height: 0px;
  min-width: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  z-index: 0;
}

.row {
  -ms-flex-direction: row !important;
  -webkit-box-direction: normal !important;
  -webkit-box-orient: horizontal !important;
  -webkit-flex-direction: row !important;
  flex-direction: row !important;
}

.flex-end {
  -webkit-box-align: end;
  align-items: flex-end;
}

.r-1g40b8q {
  z-index: 3;
}

.flex-grow {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.left-panel {
  width: 275px;
}

.r-1xcajam {
  position: fixed;
}

.r-1rnoaur {
  overflow-y: auto;
}

.space-between {
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.padding-horizontal {
  padding-left: 8px;
  padding-right: 8px;
}

.r-1vvnge1 {
  padding-bottom: 2px;
  padding-top: 2px;
}

.r-4wgw6l {
  min-width: 32px;
}

.r-1pz39u2 {
  align-self: stretch;
}

.items-center {
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.content-center {
  justify-content: center;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.bg-color {
  background-color: rgba(0, 0, 0, 0);
}

.r-6416eg {
  -moz-transition-property: background-color, box-shadow;
  -webkit-transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow;
}

.r-o7ynqc {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.r-42olwf {
  border-color: rgba(0, 0, 0, 0);
}

.solid-border-all {
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-top-style: solid;
}

.r-37j5jr {
  font-family: 'TwitterChirp', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif;
}

.line-height-20 {
  line-height: 20px;
}

.break-word {
  word-wrap: break-word;
}

.r-18jsvk2 {
  color: rgba(15, 20, 25, 1);
}

.css-901oao {
  border: 0 solid black;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 1);
  font: 14px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.r-8kz0gk {
  height: 2rem;
}

.r-lrsllp {
  width: 24px;
}

.r-1bymd8e {
  margin-top: 2px;
}

.r-15zivkp {
  margin-bottom: 4px;
}

.r-oyd9sg {
  padding-bottom: 4px;
  padding-top: 4px;
}

.r-xyw6el {
  padding: 12px;
}

.r-cnnz9e {
  width: 1.75rem;
}

.r-lwhw9o {
  height: 1.75rem;
}

.inline-block {
  display: inline-block;
}

.r-88pszg {
  margin-right: 16px;
}

.r-1joea0r {
  margin-left: 20px;
}

.r-135wba7 {
  line-height: 24px;
}

.css-1hf3ou5 {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.r-poiln3 {
  font-family: inherit;
}

.css-16my406 {
  color: inherit;
  font: inherit;
  white-space: inherit;
}

.css-4rbku5 {
  background-color: rgba(0, 0, 0, 0);
  color: inherit;
  font: inherit;
  list-style: none;
  margin: 0px;
  text-align: inherit;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

.r-e7q0ms {
  width: 90%;
}

.r-1r5su4o {
  margin-bottom: 16px;
  margin-top: 16px;
}

.r-l5o3uw {
  background-color: rgb(29, 155, 240);
}

.r-jwli3a {
  color: rgb(255, 255, 255);
}

.r-1inkyih {
  font-size: 17px;
}

.r-usiww2 {
  margin-bottom: 12px;
  margin-top: 12px;
}

.visible-overflow {
  overflow: visible;
}

.l-0 {
  left: 0px;
}

.b-0 {
  bottom: 0px;
}

.r-8jfcpp {
  top: -2px;
}

.r-ggadg3 {
  left: -2px;
}

.r-633pao {
  pointer-events: none !important;
}

.shrink-1 {
  flex-shrink: 1;
}

.nowrap {
  white-space: nowrap;
}

.r-12181gd {
  box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 2px inset;
}

.r-113js5t {
  width: 1050px;
}

.r-1ye8kvj {
  max-width: 600px;
}

.r-61z16t {
  margin-right: 0px;
}

.r-11wrixw {
  margin-left: 0px;
}

.r-184en5c {
  z-index: 1;
}

.r-13l2t4g {
  border-right-width: 1px;
}

.r-1ljd8xs {
  border-left-width: 1px;
}

.r-14lw9ot {
  background-color: rgba(255, 255, 255, 1);
}

.r-1jgb5lz {
  margin-left: auto;
  margin-right: auto;
}

.r-jxzhtn {
  border-color: rgb(239, 243, 244);
}

.r-fif9oo {
  margin-right: 70px;
}

.r-ttdzmv {
  padding-top: 53px;
}

.r-vacyoi {
  padding-bottom: 64px;
}

.r-136ojw6 {
  z-index: 2;
}

.r-15ysp7h {
  min-height: 32px;
}

.r-6gpygo {
  margin-bottom: 12px;
}

.r-8fdsdq {
  z-index: 4;
}

.column {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex-direction: column;
}

.r-13awgt0 {
  -ms-flex: 1 1 0%;
  -webkit-flex: 1;
  flex: 1;
}

.r-1mlwlqe {
  flex-basis: auto;
}

.r-vqxq0j {
  border: 0px solid black;
}

.r-1sw30gj {
  background-color: rgb(239, 243, 244);
}

.r-1dqbpge {
  cursor: text;
}

.r-f727ji {
  padding-left: 12px;
}

.r-14j79pv {
  color: rgb(83, 100, 113);
}

.no-select {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.text-bottom {
  vertical-align: text-bottom;
}

.height-1-25 {
  height: 1.25em;
}

.r-yyyyoo {
  fill: currentcolor;
}

.r-ifefl9 {
  min-height: 0px;
}

.r-deolkf {
  box-sizing: border-box;
}

.stretch {
  -webkit-box-align: stretch;
  align-items: stretch;
}

.relative {
  position: relative;
}

.r-t60dpp {
  padding: 0px;
}

.r-crgep1 {
  margin: 0px;
}

.r-1yadl64 {
  border-width: 0px;
}

.r-x572qd {
  background-color: rgb(247, 249, 249);
}

.r-1d6w8o1 {
  border-color: rgb(247, 249, 249);
}

.r-uaa2di {
  gap: 10px;
}

.align-start {
  -webkit-box-align: start;
  align-items: flex-start;
}

.r-1f1sjgu {
  padding-bottom: 12px;
  padding-top: 12px;
}

.r-1vr29t4 {
  font-weight: 800;
}

.r-adyw6z {
  font-size: 20px;
}

.min-width-0 {
  min-width: 0px;
}

.fw-700 {
  font-weight: 700;
}

.fs-15 {
  font-size: 15px;
}

.mb-16 {
  margin-bottom: 16px;
}

.r-1867qdf {
  border-radius: 16px;
}

.r-92ng3h {
  width: 1px;
}

.r-109y4c4 {
  height: 1px;
}

.r-1xk2f4g {
  clip: rect(1px, 1px, 1px, 1px);
}

.r-wwvuq4 {
  padding: 0px;
}

.overflow-h {
  overflow: hidden;
}

.r-4iw3lz {
  border-width: 0px;
}

.r-1gn8etr {
  top: -0.5px;
}

.sticky {
  position: sticky;
}

.r-6026j {
  background-color: rgba(255, 255, 255, 0.85);
}

.r-1e5uvyk {
  backdrop-filter: blur(12px);
}

.r-1hvjb8t {
  padding-right: 4px;
}

.r-ouzzow {
  flex-basis: 1px;
}

.r-qklmqi {
  border-bottom-width: 1px;
}

.r-rull8r {
  border-bottom-style: solid;
}

.r-j5o65s {
  border-bottom-color: rgb(239, 243, 244);
}

.r-1ro0kt6 {
  flex-basis: 0%;
}

.r-1i6wzkk {
  transition-property: opacity;
}

.r-orgf3d {
  opacity: 0;
}

.r-4amgru {
  margin-left: 4px;
  margin-right: 4px;
}

.r-lltvgl {
  overflow-x: auto;
}

.r-hbs49y {
  transform: translate3d(0px, 0px, 0px);
}

.r-mfh4gg {
  scroll-snap-type: x mandatory;
}

.r-buy8e9 {
  overflow-y: hidden;
}

.r-tzz3ar {
  flex-wrap: nowrap;
}

.r-i023vh {
  padding-right: 16px;
}

.r-1qhn6m8 {
  padding-left: 16px;
}

.r-s8bhmr {
  min-width: 56px;
}

.r-1h3ijdo {
  height: 53px;
}

.r-1loqt21 {
  cursor: pointer;
}

.flex-container {
  align-items: stretch;
  background-color: rgba(0, 0, 0, 0);
  border: 0 solid black;
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  list-style: none;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  position: relative;
  text-decoration: none;
  z-index: 0;
}

.r-1waj6vr {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
}

.r-lrvibr {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.r-64el8z {
  min-width: 52px;
}

.r-1dye5f7 {
  padding-left: 32px;
  padding-right: 32px;
}
.r-rs99b7 {
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
}

.r-q4m81j {
  text-align: center;
}

.r-19yznuf {
  min-height: 52px;
}

.r-1h8ys4a {
  padding-top: 4px;
}
.r-14lw9ot {
  background-color: rgba(255, 255, 255, 1);
}

.r-184en5c {
  z-index: 1;
}

.r-ttdzmv {
  padding-top: 12px;
}

.r-1b7u577 {
  margin-right: 12px;
}
.r-18kxxzh {
  flex-grow: 0;
}

.visible-overflow {
  overflow-x: visible;
  overflow-y: visible;
}

.top-0 {
  top: 0px;
}
.h-full {
  height: 100%;
}

.absolute {
  position: absolute;
}
.r-ggadg3 {
  left: -2px;
}
.r-8jfcpp {
  top: -2px;
}
.rounded-element {
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
}

.menu-account:hover {
  background-color: #e7e7e8;
}

.avatar {
  border-radius: 50%;
}

.white {
  color: #ffffff;
}

.p-8 {
  padding: 16px;
}

.bg-white {
  background-color: rgba(255, 255, 255, 1);
}

.pt-4 {
  padding-top: 4px;
}

.ph-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.z-1 {
  z-index: 1;
}

.pt-12 {
  padding-top: 12px;
}
.f-basic-40 {
  flex-basis: 40px;
}
.mr-12 {
  margin-right: 12px;
}

.f-grow-0 {
  flex-grow: 0;
}

.transition-opacity-color {
  -moz-transition-property: opacity, color;
  -webkit-transition-property: opacity, color;
  transition-property: opacity, color;
}

.f-basis-0 {
  flex-basis: 0px;
}

.pt-4 {
  padding-top: 4px;
}

.ease-out-transition {
  transition-timing-function: ease-out;
}

.static-position {
  position: static;
}

.center-justify-content {
  justify-content: center;
}

.f-grow-1 {
  flex-grow: 1;
}

.transition-duration-0-1s {
  transition-duration: 0.1s;
}

.w-full {
  width: 100%;
}

.d-block {
  display: block;
}

.transition-200ms {
  transition-duration: 0.2s;
}

.pr-16 {
  padding-right: 16px;
}

.transition-bg-shadow {
  -moz-transition-property: background-color, box-shadow;
  -webkit-transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow;
}

.pl-16 {
  padding-left: 16px;
}

.outline-none {
  outline-style: none;
}

.cursor-pointer {
  cursor: pointer;
}

.overflow-hidden {
  overflow-x: hidden;
  overflow-y: hidden;
}

.flex-grow-1 {
  flex-grow: 1;
}

.max-w-full {
  max-width: 100%;
}

.size-40 {
  width: 40px;
  height: 40px;
}

.pb-full {
  padding-bottom: 100%;
}

.center-translate {
  transform: translateX(-50%) translateY(-50%);
}

.horizontal-center {
  left: 50%;
}

.vertical-center {
  top: 50%;
}

.z-0 {
  z-index: 0;
}

.r-0 {
  right: 0px;
}

.background-position-center {
  background-position: center;
}

.background-cover {
  background-size: cover;
}

.pb-12 {
  padding-bottom: 12px;
}

.mb-2 {
  margin-bottom: 2px;
}

.align-baseline {
  align-items: baseline;
}
.custom-text {
  background-color: rgba(0, 0, 0, 0);
  border: 0 solid black;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 1);
  display: inline;
  font: 14px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: inherit;
  text-decoration: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.reset-styles {
  background-color: rgba(0, 0, 0, 0);
  border: 0 solid black;
  box-sizing: border-box;
  color: inherit;
  display: inline;
  font: inherit;
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: inherit;
  text-decoration: none;
  white-space: inherit;
  word-wrap: break-word;
}

.shrink-0 {
  flex-shrink: 0px;
}

.inline-flex {
  display: inline-flex;
}

.max-width-20 {
  max-width: 20px;
}

.max-height-20 {
  max-height: 20px;
}
.relative {
  position: relative;
}

.ml-2 {
  margin-left: 2px;
}
.height-1-25 {
  height: 1.25em;
}

.primary {
  color: rgba(29, 155, 240, 1);
}

.mr-2 {
  margin-right: 2px;
}

.ml-4 {
  margin-left: 4px;
}

.max-height-17 {
  max-height: 17px;
}

.max-width-17 {
  max-width: 17px;
}

.no-repeat {
  background-repeat: no-repeat;
}

.mt-8 {
  margin-top: 8px;
}

div.DraftEditor-root {
  min-height: 150px;
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
  min-height: 100vh;
}

div.DraftEditor-editorContainer {
  height: 100vh;
  min-height: 100vh;
  overflow-y: auto;
  padding-top: 40px;
}

h1,
h2,
h3 {
  margin-top: auto;
  margin-bottom: auto;
}

.bottom-15 {
  bottom: 15px;
}

.fixed {
  position: fixed;
}

.z-9999 {
  z-index: 9999;
}

.wrap {
  flex-wrap: wrap;
}

.pr-12 {
  padding-right: 12px;
}

.fs-13 {
  font-size: 13px;
}

.r-4qtqp9 {
  display: inline-block;
}

.one-rem {
  height: 1rem;
}

.middle {
  vertical-align: middle;
}